![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

## Adult Census Data Extraction Assignment

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
sales = pd.read_csv(
    'adult.data.csv')

In [3]:
sales.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)
### How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. '(race column)'?

In [95]:
#Find all the unique occurances of race in Race Column
sales['race'].unique()

array(['White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo',
       'Other'], dtype=object)

In [48]:
# Make a series
race = pd.Series([sales['race'].value_counts()['White'], sales['race'].value_counts()['Black'], sales['race'].value_counts()['Asian-Pac-Islander'], 
                  sales['race'].value_counts()['Amer-Indian-Eskimo'], sales['race'].value_counts()['Other']])
#sales['race'].value_counts()['White']
# Make the index for above data
race.index = ('White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other')
race

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
dtype: int64

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)

### What is the average age of men?

In [96]:
avg_men = sales.groupby('sex').age.mean()['Male']
avg_men.round(2)

39.43

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### What is the percentage of people who have a Bachelor's degree?

In [97]:
total = len(sales)
bs_degree = (sales['education'].value_counts()['Bachelors'] / total) * 100
bs_degree.round(2)

16.45

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [10]:
fifty_greater = sales['salary'].value_counts()['>50K']
bach_ed = sales['education'].value_counts()['Bachelors'] + sales['education'].value_counts()['Masters'] + sales['education'].value_counts()['Doctorate']
total = fifty_greater & bach_ed #7169
total

7169

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### What percentage of people without advanced education make more than 50K?

In [14]:
higher_ed = sales['education'].isin(['Bachelors', 'Masters', 'Doctorate'])
total = sum(higher_ed & fifty_greater)
total

7491

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### What is the minimum number of hours a person works per week?

In [21]:
min = sales['hours-per-week'].min()
min

1

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [31]:
min_hour = sum(sales['hours-per-week'] == min)
total = min_hour & fifty_greater
total

0

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### What country has the highest percentage of people that earn >50K and what is that percentage?

In [35]:
fifty = sales['salary'] == '50K'
high_per_country = sales[fifty]['native-country'].value_counts() / sales['native-country'].value_counts()
high_per_country = round(sales['native-country'].value_counts(), 2)
high_per_country[0]

29170

![purple-divider](https://user-images.githubusercontent.com/7065401/52071927-c1cd7100-2562-11e9-908a-dde91ba14e59.png)
### Identify the most popular occupation for those who earn >50K in India.

In [51]:
fifty = sales['salary'] == '50K'
high_occ = sales['native-country'] == 'India'
high_occ = sum(fifty & high_occ)